{{- if eq .computer_architecture "x86_64" -}}
eval "$(/usr/local/bin/brew shellenv)" # Intel MacBook
{{- else if eq .computer_architecture "arm64" -}}
eval "$(/opt/homebrew/bin/brew shellenv)" # Apple Silicon MacBook
{{- end }}
