#!/bin/bash

# NOTICE
# @see https://www.chezmoi.io/user-guide/machines/macos/#use-brew-bundle-to-manage-your-brews-and-casks
# @see https://github.com/twpayne/chezmoi/issues/401
#
# I want to manage my brews and casts using `brew bundle` command (via `Brewfile`).
# I construct `Brewfile` dynamically in this script and execute it.
# It is done that way, because `chezmoi` executes this script every time it content is changed.
#
# TODO: looking for better ideas to solve this issue

set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF

# Fonts

cask "font-fira-code"

# Development

brew "bash"
brew "chezmoi"
brew "cmake"
brew "cocoapods"
brew "direnv"
brew "git-lfs"
brew "git"
brew "mas"
brew "nodenv"
brew "oven-sh/bun/bun"
brew "pyenv"
brew "rbenv"
brew "scrcpy"
brew "tree"
brew "watchman"
brew "zsh"

cask "android-studio"
cask "cursor"
cask "expo-orbit"
cask "iterm2"
cask "zulu@17"

# Apps

cask "discord"
cask "firefox"
cask "grishka/grishka/neardrop"
cask "microsoft-excel"
cask "microsoft-outlook"
cask "microsoft-word"
cask "obsidian"
cask "raycast"
cask "rectangle"
cask "Slack"
cask "Spotify"
cask "zoom"

# Mac App Store

mas "Amphetamine", id: 937984704
mas "Harvest", id: 506189836
mas "Microsoft To Do", id: 1274495053
mas "OneDrive", id: 823766827
mas "Xcode", id: 497799835

EOF
