#!/bin/bash

# I do not use `Brewfile`, but istead I construct it dynamically here.
# It's like this, because `chezmoi` scripts keep tracks of changes in
# the scripting file and not in the `Brewfile`.
# @see https://github.com/twpayne/chezmoi/issues/401

set -eufo pipefail

# if ! command -v brew &> /dev/null; then
#   echo "Homebrew is not available. Exiting"
# fi

brew bundle --file=/dev/stdin <<EOF

# Taps

tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/cask-fonts"
tap "adoptopenjdk/openjdk"

# Fonts

cask "font-fira-code"

# Development

brew "bash"
brew "cmake"
brew "chezmoi"
brew "cocoapods"
brew "direnv"
brew "git-crypt"
brew "git-lfs"
brew "git"
brew "gnupg"
brew "htop"
brew "mas"
brew "ninja"
brew "nodenv"
brew "openjdk@11"
brew "pyenv"
brew "ruby@2.7"
brew "scrcpy"
brew "shellcheck"
brew "tree"
brew "watchman"
brew "zsh"
cask "android-platform-tools"
cask "android-sdk"
cask "android-studio"
cask "flipper"
cask "google-cloud-sdk"
cask "iterm2"
cask "visual-studio-code"
cask "mongodb-compass"

# Apps

cask "discord"
cask "google-chrome"
cask "microsoft-edge"
cask "microsoft-excel"
cask "microsoft-outlook"
cask "microsoft-word"
cask "rectangle"
cask "raycast"
cask "Slack"
cask "Spotify"
cask "zoom"

# Mac App Store

mas "Amphetamine", id: 937984704
mas "Harvest", id: 506189836
mas "Microsoft To Do", id: 1274495053
mas "OneDrive", id: 823766827
mas "Xcode", id: 497799835

# Other that require some other installed beforehand

brew "swiftlint" # requires Xcode

EOF
